
/* dark blue 125AA4
  light blue 44A1C7
  green 81C41D
  orange F09133
  */

@-webkit-keyframes glowRed {
  from {
    box-shadow: rgba(255, 0, 0, 0) 0 0 0;
  }
  50% {
    box-shadow: rgba(255, 0, 0, 1) 0 0 15px 1px;
  }
  to {
    box-shadow: rgba(255, 0, 0, 0) 0 0 0;
  }
}
html, body {
  overflow: hidden;
  color: #125AA4;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #44A1C7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #44A1C7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #44A1C7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #44A1C7); /* Standard syntax (must be last) */ 
}
body {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  box-sizing: border-box;
  height: 100%;
}
article {
  text-align: center;
  width: 100%;
  height: 100%;
}
#monitor {
  /*-webkit-transform: scaleX(-1);*/
  width: 100%;  /*-webkit-box-reflect: below 20px -webkit-linear-gradient(top, transparent, transparent 80%, rgba(255,255,255,0.2));*/
  height: 100%;
  position: relative;
}
#snapshot {
  /*-webkit-transform: scaleX(-1);*/
  width: 100%;  /*-webkit-box-reflect: below 20px -webkit-linear-gradient(top, transparent, transparent 80%, rgba(255,255,255,0.2));*/
  height: 100%;
  position: relative;
}
#live {
  position: absolute;
  z-index: 1;
  color: white;
  font-weight: 600;
  font-family: Arial;
  font-size: 16pt;
  right: 35px;
  top: 20px;
  text-shadow: 1px 1px red;
  letter-spacing: 1px;
}
#live:before {
  content: '';
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: red;
  position: absolute;
  left: -20px;
  margin-top: 5px;
}
#gallery img {
  position: absolute;
  z-index: -1;
  height: 75px;
}
#gallery img {
  float: left;
  height: 75px;
}

#app {
  height: 100%;
}
.container {
  position: relative;
  background: black;
  margin: auto;
  width: 90%;
  height: 80%;

}
h1 {
  font-weight: 300;
}
.blur {
  -webkit-filter: blur(3px);
}
.brightness {
  -webkit-filter: brightness(5);
}
.contrast {
  -webkit-filter: contrast(8);
}
.hue-rotate {
  -webkit-filter: hue-rotate(90deg);
}
.hue-rotate2 {
  -webkit-filter: hue-rotate(180deg);
}
.hue-rotate3 {
  -webkit-filter: hue-rotate(270deg);
}
.saturate {
  -webkit-filter: saturate(10);
}
.grayscale {
  -webkit-filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
}
.invert {
  -webkit-filter: invert(1)
}